In [3]:
# 1. Create a script to connect with the database.
from sqlalchemy import create_engine, MetaData, Table

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)

In [4]:
# 2. Based on information_schema, present how to explore the relationships between the tables.
print(db.table_names())

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'users', 'film', 'customer', 'inventory']

In [7]:
# 2.0 Extract information schema
metadata = MetaData()
category = Table("category",metadata,autoload=True,autoload_with=db)
film = Table("film",metadata,autoload=True,autoload_with=db)
print(repr(category))
print('\n')
print(category.columns.keys())

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002A05ED8BAC8>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002A05ED8B978>, for_update=False)), schema=None)


['category_id', 'name', 'last_update']

##### 2.1 Relationship between staff and country:

staff(ON address_id)   ->
address(ON city_id)    ->
city(ON country_id)    ->
country

#### 2.2 Relationship between actor, language and film:

actor(ON actor_id)     ->
film_actor(ON film_id) ->
film(ON language_id)   ->
language

In [9]:
# 3. How many categories of films we have in the rental?
stmt3 = 'SELECT COUNT(DISTINCT c.name) FROM category c JOIN film_category fc ON (c.category_id=fc.category_id) JOIN film f ON (fc.film_id=f.film_id) JOIN inventory i ON (f.film_id=i.film_id) JOIN rental r ON (i.inventory_id=r.inventory_id)'
results = db.execute(stmt3).fetchall()
print('There are '+str(results[0][0])+' categories in rental.')

There are 16 categories in rental.

In [20]:
# 4. Display list of categories with limit 2.
stmt4 = 'SELECT DISTINCT c.name FROM category c JOIN film_category fc ON (c.category_id=fc.category_id) JOIN film f ON (fc.film_id=f.film_id) JOIN inventory i ON (f.film_id=i.film_id) JOIN rental r ON (i.inventory_id=r.inventory_id)'
results = db.execute(stmt4).fetchmany(size=2)
print([result[0] for result in results])

['Horror', 'Comedy']

In [24]:
# 5. Find the oldest and youngest film in rental.
stmt5_1 = 'SELECT f.title, MIN(f.release_year) AS min_year FROM category c JOIN film_category fc ON (c.category_id=fc.category_id) JOIN film f ON (fc.film_id=f.film_id) JOIN inventory i ON (f.film_id=i.film_id) JOIN rental r ON (i.inventory_id=r.inventory_id) GROUP BY f.title'
#results = db.execute(stmt5_1).fetchall() all movies are from 2006
results = db.execute(stmt5_1).fetchone()
print('Oldest film is '+str(results))

stmt5_2 = 'SELECT f.title, MAX(f.release_year) AS max_year FROM category c JOIN film_category fc ON (c.category_id=fc.category_id) JOIN film f ON (fc.film_id=f.film_id) JOIN inventory i ON (f.film_id=i.film_id) JOIN rental r ON (i.inventory_id=r.inventory_id) GROUP BY f.title'
#results = db.execute(stmt5_2).fetchall()
results = db.execute(stmt5_2).fetchone()
print('Youngest film is '+str(results))

Oldest film is ('Frontier Cabin', 2006)
Youngest film is ('Frontier Cabin', 2006)

In [27]:
# 6. Find all actor with a name: Olympia, Julia, Ellen. How can you check correction of your query?
from sqlalchemy.sql import select
from sqlalchemy import or_

actor = Table("actor",metadata,autoload=True,autoload_with=db)
stmt6 = select([actor])
stmt6 = stmt6.where(or_(actor.c.first_name == 'Olympia', actor.c.first_name == 'Julia', actor.c.first_name == 'Ellen'))
results = db.execute(stmt6).fetchall()
for result in results:
    print(result)
print('\n')    
# Print out the query resulting from the calls made to sqlalchemy's methods.
# This can help determine correctness of the results.
print(stmt6)

(27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))


SELECT actor.actor_id, actor.first_name, actor.last_name, actor.last_update
FROM actor
WHERE actor.first_name = :first_name_1 OR actor.first_name = :first_name_2 OR actor.first_name = :first_name_3