#### Suggest a 3NF database structure and describe it using SQLAlchemy.

Your individual data set has the number:

(len(your_name) + len(your_surname))% 6

In [1]:
print("My dataset number is: "+str((len('Szymon')+len('Szczesny'))%6))

My dataset number is: 2

In [2]:
import pandas as pd
datatable = pd.read_csv('AB_NYC_2019.csv')
print(datatable.head())
print('\n\nInfo on datatypes of the data:')
print(datatable.info())
print('\n\nInfo on NaN values in data:')
print(datatable.isna().sum())

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0


Info on datatypes of the data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None


Info on NaN values in data:
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Float, String, Date
from sqlalchemy import ForeignKey

In [4]:
db_string = "postgres://postgres:postgres@127.0.0.1:5432/ab_nyc_2019"
engine = create_engine(db_string)
Base = declarative_base()

In [5]:
class Offer(Base):
    __tablename__ = 'offers'
    id = Column(Integer,primary_key=True)
    name = Column(String(150))
    host_id = Column(Integer, ForeignKey('hosts.id'))
    price = Column(Integer)
    minimum_nights = Column(Integer)
    availability_365 = Column(Integer)

class Apartment(Base):
    __tablename__ = 'apartments'
    id = Column(Integer, primary_key=True)
    id_offer = Column(Integer, ForeignKey('offers.id'))
    room_type = Column(String(50))
    latitude = Column(Float)
    longitude = Column(Float)
    neighbourhood = Column(String(50))
    neighbourhood_group = Column(String(50))

class Reviews(Base):
    __tablename__ = 'reviews'
    id = Column(Integer, primary_key=True)
    id_offer = Column(Integer, ForeignKey('offers.id'))
    number_of_reviews = Column(Integer)
    last_review = Column(Date)
    reviews_per_month = Column(Float)

class Host(Base):
    __tablename__ = 'hosts'
    id = Column(Integer, primary_key=True)
    host_name = Column(String(50))
    calculated_host_listings_count = Column(Integer)

In [34]:
Base.metadata.create_all(engine)